/************************************* App Theme *************************************/

/*~~~~~~~~~~ for light theme ~~~~~~~~~~*/
:root {
}

/*~~~~~~~~~~ for dark theme ~~~~~~~~~~*/
[data-theme="dark"] {
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/************************************* Common Components *************************************/
